/*
Link falando sobre form com react
https://pt-br.reactjs.org/docs/forms.html
*/

.container-ionfooter {
  --ion-toolbar-background: #1f1f1f;
}

.button-voltar-footer {
  width: 40%;
  margin: 0px auto;
}

.div-pai-criarconta {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-filha-criarconta {
  width: 100%;
  height: 50%;
  display: grid;
  align-items: center;
}

.container-criarconta {
  width: 95%;
  color: white;
}

.button-cadastrar {
  color: white;
  width: 80%;
  display: block;
  margin: 0px auto;
}
